---
import Card from '../Card.astro'
import CardInsert from '../CardInsert.astro'
import Tool from '../Tool.astro'
---

<Card className="flex-1 flex-shrink-0 pb-0" title="Current Stack">
	<CardInsert>
		<h3 class="-mb-2 text-sm font-bold">Frontend</h3>
		<Tool tool="nextjs" />
		<Tool tool="astro" />
		<Tool tool="tailwind" />

		<h3 class="-mb-2 text-sm font-bold">Backend</h3>
		<Tool tool="nodejs" />
		<h3 class="-mb-2 text-sm font-bold">Machine Learning</h3>
		<Tool tool="pytorch" />
		<Tool tool="fastapi" />

		<h3 class="-mb-2 text-sm font-bold">DevOps</h3>
		<Tool tool="docker" />
		<h3 class="-mb-2 text-sm font-bold">Database</h3>
		<Tool tool="postgresql" />
	</CardInsert>
</Card>
