---
import Card from '../Card.astro'
---

<Card className="w-full border-amber-600 bg-amber-300 p-0 text-white dark:border-amber-600">
	<div class="flex h-full w-full flex-col items-center justify-center p-2">
		<h2 class="text-center text-4xl font-bold">Lorem ipsum</h2>
	</div>
</Card>
