---
import Card from '../Card.astro'
---

<Card className="h-full border-amber-500 bg-white/80 p-0 text-white dark:border-amber-500">
	<div class="flex h-full flex-col items-center justify-center gap-2 bg-amber-400/75 p-2">
		<h2 class="text-center text-4xl font-bold">7 + Years Freelancing</h2>
	</div>
</Card>
