---
import Card from '../Card.astro'
import Statsbox from '../Statsbox.tsx'
---

<div class="flex flex-col gap-4">
	<Card className="h-full border-violet-500 bg-violet-400/75 p-2 text-white">
		<div class="flex h-full flex-col items-center justify-center gap-2">
			<h2 class="text-center text-4xl font-bold">7 + Years Freelancing</h2>
		</div>
	</Card>
</div>
