---
import Card from '../Card.astro'
---

<Card className="aspect-square border-indigo-400 bg-indigo-400/25">
    <div class="flex h-full w-full flex-col items-center justify-center text-indigo-900">
        <p class="text-5xl font-semibold">7 +</p>
        <p class="font-semibold">Years Freelancing</p>
    </div>
</Card>