---
import Card from '../Card.astro'
---

<Card className="aspect-square bg-[url(/bg-title-mobile.png)] bg-cover bg-right p-2">
    <div class="flex h-full w-full flex-col items-start justify-start">
        <div
            class="flex w-full items-start justify-between gap-2 rounded-md font-semibold text-white"
        >
            <div class="px-2">
                <p class="mb-[-2px]">Texas Ex</p>
                <p class="text-xs text-white text-opacity-80">McCombs 22'</p>
            </div>
            <svg version="1.1" id="svg2" viewBox="0 0 81.26667 81.26667" class="h-8 w-8">
                <defs id="defs6"></defs>
                <sodipodi:namedview
                    id="namedview4"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"></sodipodi:namedview>
                <g id="g8" transform="matrix(1.3333333,0,0,-1.3333333,0,81.266667)">
                    <g id="g10" transform="scale(0.1)">
                        <path
                            d="m 598.934,304.734 c 0,162.454 -131.688,294.145 -294.137,294.145 -162.453,0 -294.1486,-131.691 -294.1486,-294.145 0,-162.449 131.6956,-294.1402 294.1486,-294.1402 162.449,0 294.137,131.6912 294.137,294.1402"
                            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            id="path12"></path>
                        <path
                            d="M 419.902,115.359 C 385.742,93.8867 344.617,82.0508 304.133,82.0508 h -2.317 c -40.523,-0.0195 -81.64,11.8359 -115.898,33.3082 -35.094,22.004 -64.102,54.477 -81.676,91.426 -18.2303,37.637 -24.9842,80.559 -19.0232,120.899 2.8164,19.961 8.7031,39.816 17.5112,58.906 4.458,9.445 9.489,18.43 14.965,26.797 2.481,3.625 1.735,9.535 1.004,15.246 -0.91,7.344 -2.066,16.484 5.871,20.222 8.668,4.141 22.801,-0.593 32.758,-10.703 7.059,-7.187 10.879,-15.761 10.758,-24.168 -0.215,-5.476 -2.883,-9.629 -4.895,-12.296 -16.125,-22.489 -26.316,-50.118 -29.363,-79.793 -1.734,-15.555 -1.191,-31.622 1.594,-47.805 2.586,-15.77 7.398,-31.035 14.305,-45.399 13.679,-28.652 36.07,-53.593 63.039,-70.273 26.468,-16.738 57.195,-25.566 88.882,-25.566 h 1.954 c 32.179,0 62.914,8.828 89.445,25.546 26.926,16.61 49.305,41.563 63.086,70.293 6.933,14.422 11.726,29.688 14.289,45.36 2.762,16.222 3.316,32.304 1.637,47.812 -3.27,29.922 -13.485,57.551 -29.586,79.914 -2.289,3.231 -4.629,7.196 -4.7,12.207 -0.195,7.813 4.082,17.024 11.454,24.551 9.882,10.145 22.421,14.324 31.73,10.418 8.254,-3.418 7.109,-12.676 6.191,-20.137 -0.722,-5.789 -1.457,-11.785 1.004,-15.308 5.61,-8.578 10.598,-17.602 14.895,-26.899 8.801,-18.945 14.707,-38.777 17.558,-58.945 5.911,-40.223 -0.847,-83.16 -19.042,-120.906 -18.04,-37.637 -46.27,-69.238 -81.661,-91.399 z M 174.82,358.523 h 62.215 c 0.664,0 1.235,-0.562 1.235,-1.238 v -21.183 c 0,-0.664 -0.571,-1.239 -1.235,-1.239 h -32.43 c -0.683,0 -1.242,-0.547 -1.242,-1.242 v -27.187 c 0,-0.672 0.559,-1.239 1.242,-1.239 h 23.809 c 0.68,0 1.234,-0.558 1.234,-1.242 v -22.254 c 0,-0.664 -0.554,-1.238 -1.234,-1.238 l -23.809,-0.16 c -0.683,-0.02 -1.242,-0.574 -1.242,-1.25 v -28.067 c 0,-0.683 0.559,-1.238 1.242,-1.238 h 33.481 c 0.699,0 1.238,-0.558 1.238,-1.262 v -22.226 c 0,-0.672 -0.539,-1.231 -1.238,-1.231 h -59.672 c -0.699,0 -1.258,0.559 -1.258,1.231 l 0.11,124.75 c 0,0.672 -0.278,1.715 -0.621,2.312 l -2.446,4.129 c -0.32,0.586 -0.058,1.074 0.621,1.074 z M 200.766,485 h 210.035 c 3.703,0 6.512,-3.02 6.258,-6.711 l -2.555,-37.195 c -0.246,-3.703 -3.488,-6.731 -7.191,-6.731 h -69.415 c -3.71,0 -6.726,-3.008 -6.726,-6.718 V 193.758 c 0,-3.699 1.141,-9.52 2.539,-12.957 l 4.102,-10.078 c 1.398,-3.426 -0.5,-6.219 -4.2,-6.219 h -60.508 c -3.703,0 -5.554,2.781 -4.152,6.187 l 4.211,10.137 c 1.426,3.41 2.59,9.231 2.59,12.93 v 233.887 c 0,3.71 -3.02,6.718 -6.723,6.718 h -65.183 c -3.703,0 -6.907,3.028 -7.125,6.731 l -2.274,37.195 c -0.215,3.684 2.629,6.711 6.317,6.711 z M 436.27,355.77 413.965,296.406 c -0.625,-1.601 -0.598,-4.218 0.012,-5.812 l 22.273,-57.567 c 0.625,-1.593 2.188,-3.816 3.469,-4.941 l 1.16,-0.969 c 1.289,-1.121 0.957,-2.027 -0.742,-2.027 h -24.602 c -1.695,0 -3.594,1.316 -4.18,2.926 l -12.878,34.824 c -0.606,1.613 -1.575,1.625 -2.176,0.019 l -13.274,-34.863 c -0.617,-1.609 -2.492,-2.906 -4.211,-2.906 h -19.57 c -1.695,0 -2.605,1.316 -2.019,2.926 l 22.863,62.511 c 0.586,1.602 0.586,4.239 0,5.84 l -21.66,59.387 c -0.571,1.609 0.34,2.926 2.058,2.926 h 20.965 c 1.723,0 3.559,-1.336 4.106,-2.95 l 11.16,-33.339 c 0.527,-1.61 1.386,-1.61 1.933,0.019 l 10.664,33.313 c 0.508,1.621 2.332,2.957 4.051,2.957 h 20.891 c 1.699,0 2.617,-1.317 2.012,-2.91 z M 304.766,573.172 c -148.262,0 -268.3871,-120.164 -268.3871,-268.445 0,-148.254 120.1251,-268.3872 268.3871,-268.3872 148.203,0 268.425,120.1332 268.425,268.3872 0,148.281 -120.222,268.445 -268.425,268.445"
                            style="fill:#d34f1f;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            id="path14"></path>
                        <path
                            d="m 304.766,21.7656 c -156.059,0 -283.0004,126.9454 -283.0004,282.9614 0,156.035 126.9414,282.976 283.0004,282.976 156.027,0 282.949,-126.941 282.949,-282.976 0,-156.016 -126.922,-282.9614 -282.949,-282.9614 z m 0,587.7074 C 136.723,609.473 0,472.773 0,304.727 0,136.688 136.723,0 304.766,0 c 168.015,0 304.726,136.688 304.726,304.727 0,168.046 -136.711,304.746 -304.726,304.746"
                            style="fill:#d34f1f;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            id="path16"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</Card>