---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import Button from '../components/Button.astro'

import iphone from '../assets/iphone.png'
import iphone2 from '../assets/iphone2.png'
import ipad from '../assets/ipad.png'

// Customized Cards
import Experience from '../components/cards/Experience.astro'

import Music from '../components/cards/Music.tsx'
import TexasEx from '../components/cards/TexasEx.astro'
import Stats from '../components/cards/Stats.astro'
import Map from '../components/cards/Map.astro'
import Stack from '../components/cards/Stack.astro'
import Socials from '../components/cards/Socials.astro'
import CardInsert from '../components/CardInsert.astro'
---

<Layout title="Joseph Risk" navText="index">
	<Hero />
	<Section title="Latest Work" href="/projects">
		<div class="relative flex w-full flex-col justify-end md:h-60 md:flex-row">
			<div class="h-40 w-full md:hidden"></div>
			<Card
				className="flex h-fit flex-col items-end justify-end border-lime-500 bg-lime-200 p-0 dark:border-lime-500 md:h-full md:w-3/4 "
			>
				<div class="h-20 w-full md:hidden"></div>
				<div class="flex w-full flex-col justify-center gap-2 px-8 py-4 md:h-full md:w-2/3">
					<div class="relative flex w-fit items-start justify-center gap-1.5">
						<h1 class="text-xl/5 font-bold md:text-2xl">Dossi</h1>

						<div class="relative md:mt-1">
							<div class="flex h-4 rounded bg-black p-[2px]">
								<div
									class="z-20 flex h-full w-full items-center justify-center rounded-[1.5px] bg-lime-200 px-1.5 text-[10px] font-extrabold transition-all duration-1000 ease-in-out"
								>
									AI
								</div>
							</div>
							<div
								class="group absolute right-0 top-0 flex h-full w-full rounded-md bg-gradient-to-br from-[#49CC5F] from-10% to-[#a3e635] opacity-0 transition-all duration-1000 ease-in-out group-hover:opacity-100"
							>
							</div>
						</div>
					</div>
					<p class="pb-1 text-lime-900">
						Open source Next.js based AI chat tool for PDFs. Upload multiple documents and begin
						chatting in just seconds.
					</p>
					<Button
						className="border border-lime-600 bg-lime-500 text-base font-semibold text-white hover:bg-lime-400 dark:bg-lime-500 dark:hover:bg-lime-400"
						href="/projects/dossi-ai"
					>
						More Info
					</Button>
				</div>
			</Card>
			<Card
				className="absolute left-0 top-0 h-60 bg-white p-4 pb-0 dark:bg-black md:h-full md:w-1/2"
			>
				<CardInsert>
					<div
						class="relative mt-4 flex h-[calc(100%+16px)] w-full flex-shrink-0 justify-between gap-6 px-4"
					>
						<a href="https://dossi-ai.josephrisk.com/" class="h-full w-full">
							<Image
								src={ipad}
								alt="Cellularr"
								class="h-fit w-full object-cover object-top transition-all duration-300 ease-in-out md:hover:-translate-y-4 md:hover:cursor-pointer"
							/>
						</a>
					</div>
				</CardInsert>
			</Card>
		</div>
		<div class="relative flex w-full flex-col justify-end md:h-80 md:flex-row md:justify-start">
			<div class="h-40 w-full md:hidden"></div>
			<Card
				className="flex h-fit flex-col items-start border-sky-500 bg-sky-200 p-0 dark:border-sky-500 md:h-full md:w-1/2"
			>
				<div class="h-20 w-full md:hidden"></div>
				<div
					class="flex h-full w-full flex-col justify-center gap-2 px-8 py-4 md:h-full md:w-[60%]"
				>
					<h3 class="text-xl font-bold text-black md:text-2xl">Cellularr</h3>
					<p class="pb-1 text-sky-900">The all in one mobile media manager for your home server.</p>
					<Button
						className="border border-sky-600 bg-sky-500 text-base font-semibold text-white hover:bg-sky-400 dark:bg-sky-500 dark:hover:bg-sky-400"
						href="/projects/cellularr"
					>
						More Info
					</Button>
				</div>
			</Card>
			<Card
				className="absolute right-0 top-0 h-60 bg-white p-4 pb-0 dark:bg-black md:h-full md:w-[70%]"
			>
				<CardInsert>
					<div
						class="relative mt-4 flex h-[calc(100%+16px)] w-full flex-shrink-0 justify-between gap-6 px-4"
					>
						<a href="https://cellularr.josephrisk.com" class="h-full w-full">
							<Image
								src={iphone2}
								alt="Cellularr"
								class="h-full w-full object-cover object-top transition-all duration-300 ease-in-out md:hover:-translate-y-4 md:hover:cursor-pointer"
							/>
						</a>
						<a href="https://cellularr.josephrisk.com/movie/20526" class="h-full w-full">
							<Image
								src={iphone}
								alt="Cellularr"
								class="h-full w-full object-cover object-top transition-all duration-300 ease-in-out md:hover:-translate-y-4 md:hover:cursor-pointer"
							/>
						</a>

						<div
							class="absolute bottom-0 hidden h-1/6 w-full bg-gradient-to-t from-sky-200 to-transparent"
						>
						</div>
					</div>
				</CardInsert>
			</Card>
		</div>
	</Section>
	<Section title="About Me">
		<div class="grid grid-cols-2 gap-4 md:grid-cols-3">
			<TexasEx />
			<Stats />
			<Map />
		</div>
		<div class="flex flex-col gap-4 md:flex-row">
			<div class="flex flex-col gap-4 md:w-[58%]">
				<Experience />
				<Music client:only="react" />
				<div class="hidden md:flex">
					<Socials />
				</div>
			</div>
			<div class="flex-1 items-stretch">
				<Stack />
			</div>
			<div class="flex md:hidden">
				<Socials />
			</div>
		</div>
	</Section>
</Layout>
