---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import Button from '../components/Button.astro'
import Experience from '../components/Experience.astro'
import Technology from '../components/Technology.astro'
import Location from '../components/Location.tsx'
import Nav from '../components/Nav.astro'
---

<Layout title="Welcome to Astro.">
	<Nav title=`index` />
	<Hero />
	<Section title="Latest Projects" href="/projects">
		<Card className="border-lime-400 bg-lime-400 bg-opacity-40 pb-0">
			<div class="flex">
				<div class="flex flex-1 flex-col gap-2 py-8 pl-8">
					<h3 class="text-2xl font-bold">Dossi AI</h3>
					<p class="">Next.js RAG application</p>
				</div>
				<div class="flex h-full flex-1 flex-col items-start justify-start rounded-t-xl pr-8 pt-8">
					<img src="/localhost_3000_landing(FHD 4_3).png" alt="Dossi AI" class="rounded-t-lg" />
				</div>
			</div>
		</Card>
		<Card className="border-sky-400 bg-sky-400 bg-opacity-40 pb-0">
			<div class="flex">
				<div class="flex flex-1 flex-col gap-2 py-8 pl-8">
					<h3 class="text-2xl font-bold">Cellularr</h3>
					<p class="">Media management PWA for iOS</p>
				</div>
				<div class="flex h-full flex-1 flex-col items-start justify-start rounded-t-xl pr-8 pt-8">
					<img src="/localhost_3000_landing(FHD 4_3).png" alt="Dossi AI" class="rounded-t-lg" />
				</div>
			</div>
		</Card>
	</Section>
	<Section title="About Me">
		<div class="grid grid-cols-3 gap-4">
			<Card className="aspect-square bg-[url(/bg-title-mobile.png)] bg-cover bg-right p-2">
				<div class="flex h-full w-full flex-col items-start justify-start">
					<div
						class="flex w-full items-start justify-between gap-2 rounded-md font-semibold text-white"
					>
						<div class="px-2">
							<p class="">Texas Ex</p>
							<p class="text-xs text-white text-opacity-80">BBA 22'</p>
						</div>
						<svg version="1.1" id="svg2" viewBox="0 0 81.26667 81.26667" class="h-8 w-8">
							<defs id="defs6"></defs>
							<sodipodi:namedview
								id="namedview4"
								pagecolor="#ffffff"
								bordercolor="#000000"
								borderopacity="0.25"
								inkscape:showpageshadow="2"
								inkscape:pageopacity="0.0"
								inkscape:pagecheckerboard="0"
								inkscape:deskcolor="#d1d1d1"></sodipodi:namedview>
							<g id="g8" transform="matrix(1.3333333,0,0,-1.3333333,0,81.266667)">
								<g id="g10" transform="scale(0.1)">
									<path
										d="m 598.934,304.734 c 0,162.454 -131.688,294.145 -294.137,294.145 -162.453,0 -294.1486,-131.691 -294.1486,-294.145 0,-162.449 131.6956,-294.1402 294.1486,-294.1402 162.449,0 294.137,131.6912 294.137,294.1402"
										style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
										id="path12"></path>
									<path
										d="M 419.902,115.359 C 385.742,93.8867 344.617,82.0508 304.133,82.0508 h -2.317 c -40.523,-0.0195 -81.64,11.8359 -115.898,33.3082 -35.094,22.004 -64.102,54.477 -81.676,91.426 -18.2303,37.637 -24.9842,80.559 -19.0232,120.899 2.8164,19.961 8.7031,39.816 17.5112,58.906 4.458,9.445 9.489,18.43 14.965,26.797 2.481,3.625 1.735,9.535 1.004,15.246 -0.91,7.344 -2.066,16.484 5.871,20.222 8.668,4.141 22.801,-0.593 32.758,-10.703 7.059,-7.187 10.879,-15.761 10.758,-24.168 -0.215,-5.476 -2.883,-9.629 -4.895,-12.296 -16.125,-22.489 -26.316,-50.118 -29.363,-79.793 -1.734,-15.555 -1.191,-31.622 1.594,-47.805 2.586,-15.77 7.398,-31.035 14.305,-45.399 13.679,-28.652 36.07,-53.593 63.039,-70.273 26.468,-16.738 57.195,-25.566 88.882,-25.566 h 1.954 c 32.179,0 62.914,8.828 89.445,25.546 26.926,16.61 49.305,41.563 63.086,70.293 6.933,14.422 11.726,29.688 14.289,45.36 2.762,16.222 3.316,32.304 1.637,47.812 -3.27,29.922 -13.485,57.551 -29.586,79.914 -2.289,3.231 -4.629,7.196 -4.7,12.207 -0.195,7.813 4.082,17.024 11.454,24.551 9.882,10.145 22.421,14.324 31.73,10.418 8.254,-3.418 7.109,-12.676 6.191,-20.137 -0.722,-5.789 -1.457,-11.785 1.004,-15.308 5.61,-8.578 10.598,-17.602 14.895,-26.899 8.801,-18.945 14.707,-38.777 17.558,-58.945 5.911,-40.223 -0.847,-83.16 -19.042,-120.906 -18.04,-37.637 -46.27,-69.238 -81.661,-91.399 z M 174.82,358.523 h 62.215 c 0.664,0 1.235,-0.562 1.235,-1.238 v -21.183 c 0,-0.664 -0.571,-1.239 -1.235,-1.239 h -32.43 c -0.683,0 -1.242,-0.547 -1.242,-1.242 v -27.187 c 0,-0.672 0.559,-1.239 1.242,-1.239 h 23.809 c 0.68,0 1.234,-0.558 1.234,-1.242 v -22.254 c 0,-0.664 -0.554,-1.238 -1.234,-1.238 l -23.809,-0.16 c -0.683,-0.02 -1.242,-0.574 -1.242,-1.25 v -28.067 c 0,-0.683 0.559,-1.238 1.242,-1.238 h 33.481 c 0.699,0 1.238,-0.558 1.238,-1.262 v -22.226 c 0,-0.672 -0.539,-1.231 -1.238,-1.231 h -59.672 c -0.699,0 -1.258,0.559 -1.258,1.231 l 0.11,124.75 c 0,0.672 -0.278,1.715 -0.621,2.312 l -2.446,4.129 c -0.32,0.586 -0.058,1.074 0.621,1.074 z M 200.766,485 h 210.035 c 3.703,0 6.512,-3.02 6.258,-6.711 l -2.555,-37.195 c -0.246,-3.703 -3.488,-6.731 -7.191,-6.731 h -69.415 c -3.71,0 -6.726,-3.008 -6.726,-6.718 V 193.758 c 0,-3.699 1.141,-9.52 2.539,-12.957 l 4.102,-10.078 c 1.398,-3.426 -0.5,-6.219 -4.2,-6.219 h -60.508 c -3.703,0 -5.554,2.781 -4.152,6.187 l 4.211,10.137 c 1.426,3.41 2.59,9.231 2.59,12.93 v 233.887 c 0,3.71 -3.02,6.718 -6.723,6.718 h -65.183 c -3.703,0 -6.907,3.028 -7.125,6.731 l -2.274,37.195 c -0.215,3.684 2.629,6.711 6.317,6.711 z M 436.27,355.77 413.965,296.406 c -0.625,-1.601 -0.598,-4.218 0.012,-5.812 l 22.273,-57.567 c 0.625,-1.593 2.188,-3.816 3.469,-4.941 l 1.16,-0.969 c 1.289,-1.121 0.957,-2.027 -0.742,-2.027 h -24.602 c -1.695,0 -3.594,1.316 -4.18,2.926 l -12.878,34.824 c -0.606,1.613 -1.575,1.625 -2.176,0.019 l -13.274,-34.863 c -0.617,-1.609 -2.492,-2.906 -4.211,-2.906 h -19.57 c -1.695,0 -2.605,1.316 -2.019,2.926 l 22.863,62.511 c 0.586,1.602 0.586,4.239 0,5.84 l -21.66,59.387 c -0.571,1.609 0.34,2.926 2.058,2.926 h 20.965 c 1.723,0 3.559,-1.336 4.106,-2.95 l 11.16,-33.339 c 0.527,-1.61 1.386,-1.61 1.933,0.019 l 10.664,33.313 c 0.508,1.621 2.332,2.957 4.051,2.957 h 20.891 c 1.699,0 2.617,-1.317 2.012,-2.91 z M 304.766,573.172 c -148.262,0 -268.3871,-120.164 -268.3871,-268.445 0,-148.254 120.1251,-268.3872 268.3871,-268.3872 148.203,0 268.425,120.1332 268.425,268.3872 0,148.281 -120.222,268.445 -268.425,268.445"
										style="fill:#d34f1f;fill-opacity:1;fill-rule:nonzero;stroke:none"
										id="path14"></path>
									<path
										d="m 304.766,21.7656 c -156.059,0 -283.0004,126.9454 -283.0004,282.9614 0,156.035 126.9414,282.976 283.0004,282.976 156.027,0 282.949,-126.941 282.949,-282.976 0,-156.016 -126.922,-282.9614 -282.949,-282.9614 z m 0,587.7074 C 136.723,609.473 0,472.773 0,304.727 0,136.688 136.723,0 304.766,0 c 168.015,0 304.726,136.688 304.726,304.727 0,168.046 -136.711,304.746 -304.726,304.746"
										style="fill:#d34f1f;fill-opacity:1;fill-rule:nonzero;stroke:none"
										id="path16"></path>
									<path
										d="m 572.602,50.5508 c 0,1.7265 -0.938,2.9805 -3.289,2.9805 h -5.333 v -7.0508 h 5.008 c 2.2,0 3.614,1.1015 3.614,3.3008 z m 5.164,-18.6406 c -3.446,0 -5.012,1.414 -5.012,4.3945 v 2.8125 c 0,2.043 -1.414,3.6055 -3.609,3.6055 H 563.98 V 32.2344 h -5.007 v 25.207 h 10.8 c 5.641,0 7.993,-2.9648 7.993,-7.1914 v -0.168 c 0,-2.9687 -1.094,-5.0117 -3.766,-5.4804 2.824,-0.4649 3.766,-3.1328 3.766,-5.4844 v -2.6563 c 0,-0.7773 0.461,-0.9453 1.875,-0.9453 v -3.6054 z m -9.239,34.4687 c -12.382,0 -20.988,-9.5586 -20.988,-21.4609 0,-11.7461 8.606,-21.3047 20.988,-21.3047 12.524,0 20.977,9.5586 20.977,21.3047 0,11.9023 -8.453,21.4609 -20.977,21.4609 z m 0,-46.8359 c -14.566,0 -25.382,11.2773 -25.382,25.375 0,14.0976 10.816,25.5273 25.382,25.5273 14.567,0 25.524,-11.4297 25.524,-25.5273 0,-14.0977 -10.957,-25.375 -25.524,-25.375"
										style="fill:#d34f1f;fill-opacity:1;fill-rule:nonzero;stroke:none"
										id="path18"></path>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</Card>
			<Card className="aspect-square bg-yellow-500">
				<div class="flex h-full w-full flex-col items-center justify-center">
					<p class="text-5xl font-semibold text-white">7 +</p>
					<p class="font-semibold text-white">Years Freelancing</p>
				</div>
			</Card>
			<Card className="aspect-square p-0">
				<div class="flex h-full w-full flex-col justify-end">
					<Location client:only="react" />
				</div>
			</Card>
		</div>
		<div class="flex gap-4">
			<div class="flex w-full flex-col gap-4">
				<Card className="h-fit pb-0" title="Experience">
					<div class="flex w-full flex-col gap-4 rounded-t-xl bg-slate-50 p-4 pb-4">
						<Experience
							image="/neutrino.png"
							postion="Freelance Web Developer"
							company="Neutrino Labs"
							duration="2017 - 2023"
						/>
						<Experience
							image="/neutrino.png"
							postion="Underwriting Intern"
							company="Markel Corporation"
							duration="Summer 2022"
						/>
						<Experience
							image="/neutrino.png"
							postion="Founding Partner"
							company="Frontier Extraction"
							duration="2020 - 2022"
						/>
					</div>
				</Card>
				<Card className="bg-rose-500 text-white" title="Current Picks">
					<div class="grid w-full grid-cols-3 grid-rows-2 gap-2">
						<div class="aspect-square w-full rounded-lg bg-black"></div>
						<div class="aspect-square w-full rounded-lg bg-black"></div>
						<div class="aspect-square w-full rounded-lg bg-black"></div>
						<div class="aspect-square w-full rounded-lg bg-black"></div>
						<div class="aspect-square w-full rounded-lg bg-black"></div>
						<div class="aspect-square w-full rounded-lg bg-black"></div>
					</div>
				</Card>
			</div>
			<Card className="pb-0" title="Current Stack">
				<div class="flex h-full w-full flex-col gap-4 rounded-t-xl bg-slate-50 p-4 pb-4 shadow-sm">
					<h3 class="-mb-2 text-base font-bold">Frontend</h3>

					<Technology name="Next.js" use="Frontend">
						<svg viewBox="0 0 128 128" class="fill-white">
							<path
								d="M64 0C28.7 0 0 28.7 0 64s28.7 64 64 64c11.2 0 21.7-2.9 30.8-7.9L48.4 55.3v36.6h-6.8V41.8h6.8l50.5 75.8C116.4 106.2 128 86.5 128 64c0-35.3-28.7-64-64-64zm22.1 84.6l-7.5-11.3V41.8h7.5v42.8z"
							></path>
						</svg>
					</Technology>
					<Technology name="Astro" use="Static Sites">
						<svg
							class="astro-icon"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 64 80"
							fill="none"
						>
							<path
								d="M20.5253 67.6322C16.9291 64.3531 15.8793 57.4632 17.3776 52.4717C19.9755 55.6188 23.575 56.6157 27.3035 57.1784C33.0594 58.0468 38.7122 57.722 44.0592 55.0977C44.6709 54.7972 45.2362 54.3978 45.9045 53.9931C46.4062 55.4451 46.5368 56.9109 46.3616 58.4028C45.9355 62.0362 44.1228 64.8429 41.2397 66.9705C40.0868 67.8215 38.8669 68.5822 37.6762 69.3846C34.0181 71.8508 33.0285 74.7426 34.403 78.9491C34.4357 79.0516 34.4649 79.1541 34.5388 79.4042C32.6711 78.5705 31.3069 77.3565 30.2674 75.7604C29.1694 74.0757 28.6471 72.2121 28.6196 70.1957C28.6059 69.2144 28.6059 68.2244 28.4736 67.257C28.1506 64.8985 27.0406 63.8425 24.9496 63.7817C22.8036 63.7192 21.106 65.0426 20.6559 67.1268C20.6215 67.2865 20.5717 67.4446 20.5218 67.6304L20.5253 67.6322Z"
								fill="white"></path>
							<path
								d="M20.5253 67.6322C16.9291 64.3531 15.8793 57.4632 17.3776 52.4717C19.9755 55.6188 23.575 56.6157 27.3035 57.1784C33.0594 58.0468 38.7122 57.722 44.0592 55.0977C44.6709 54.7972 45.2362 54.3978 45.9045 53.9931C46.4062 55.4451 46.5368 56.9109 46.3616 58.4028C45.9355 62.0362 44.1228 64.8429 41.2397 66.9705C40.0868 67.8215 38.8669 68.5822 37.6762 69.3846C34.0181 71.8508 33.0285 74.7426 34.403 78.9491C34.4357 79.0516 34.4649 79.1541 34.5388 79.4042C32.6711 78.5705 31.3069 77.3565 30.2674 75.7604C29.1694 74.0757 28.6471 72.2121 28.6196 70.1957C28.6059 69.2144 28.6059 68.2244 28.4736 67.257C28.1506 64.8985 27.0406 63.8425 24.9496 63.7817C22.8036 63.7192 21.106 65.0426 20.6559 67.1268C20.6215 67.2865 20.5717 67.4446 20.5218 67.6304L20.5253 67.6322Z"
								fill="url(#paint0_linear_738_686)"></path>
							<path
								d="M0 51.6401C0 51.6401 10.6488 46.4654 21.3274 46.4654L29.3786 21.6102C29.6801 20.4082 30.5602 19.5913 31.5538 19.5913C32.5474 19.5913 33.4275 20.4082 33.7289 21.6102L41.7802 46.4654C54.4274 46.4654 63.1076 51.6401 63.1076 51.6401C63.1076 51.6401 45.0197 2.48776 44.9843 2.38914C44.4652 0.935933 43.5888 0 42.4073 0H20.7022C19.5206 0 18.6796 0.935933 18.1251 2.38914C18.086 2.4859 0 51.6401 0 51.6401Z"
								fill="white"></path>
							<defs>
								<linearGradient
									id="paint0_linear_738_686"
									x1="31.554"
									y1="75.4423"
									x2="39.7462"
									y2="48.376"
									gradientUnits="userSpaceOnUse"
								>
									<stop stop-color="#D83333"></stop>
									<stop offset="1" stop-color="#F041FF"></stop>
								</linearGradient>
							</defs>
						</svg>
					</Technology>
					<Technology name="Tailwind CSS" use="Styling">
						<svg viewBox="0 0 128 128">
							<path
								d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597 6.398-8.531 13.867-11.73 22.398-9.597 4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602-6.399 8.536-13.867 11.735-22.399 9.602-4.87-1.215-8.347-4.746-12.207-8.66-6.27-6.367-13.53-13.738-29.394-13.738zM32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66 6.274 6.367 13.536 13.738 29.395 13.738 17.066 0 27.73-8.53 32-25.597-6.399 8.531-13.867 11.73-22.399 9.597-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64zm0 0"
								fill="#38b2ac"></path>
						</svg>
					</Technology>

					<h3 class="-mb-2 text-base font-bold">Backend</h3>
					<Technology name="Node.js" use="Backend">
						<svg viewBox="0 0 128 128">
							<path
								fill="#83CD29"
								d="M112.771 30.334L68.674 4.729c-2.781-1.584-6.402-1.584-9.205 0L14.901 30.334C12.031 31.985 10 35.088 10 38.407v51.142c0 3.319 2.084 6.423 4.954 8.083l11.775 6.688c5.628 2.772 7.617 2.772 10.178 2.772 8.333 0 13.093-5.039 13.093-13.828v-50.49c0-.713-.371-1.774-1.071-1.774h-5.623C42.594 41 41 42.061 41 42.773v50.49c0 3.896-3.524 7.773-10.11 4.48L18.723 90.73c-.424-.23-.723-.693-.723-1.181V38.407c0-.482.555-.966.982-1.213l44.424-25.561c.415-.235 1.025-.235 1.439 0l43.882 25.555c.42.253.272.722.272 1.219v51.142c0 .488.183.963-.232 1.198l-44.086 25.576c-.378.227-.847.227-1.261 0l-11.307-6.749c-.341-.198-.746-.269-1.073-.086-3.146 1.783-3.726 2.02-6.677 3.043-.726.253-1.797.692.41 1.929l14.798 8.754a9.294 9.294 0 004.647 1.246c1.642 0 3.25-.426 4.667-1.246l43.885-25.582c2.87-1.672 4.23-4.764 4.23-8.083V38.407c0-3.319-1.36-6.414-4.229-8.073zM77.91 81.445c-11.726 0-14.309-3.235-15.17-9.066-.1-.628-.633-1.379-1.272-1.379h-5.731c-.709 0-1.279.86-1.279 1.566 0 7.466 4.059 16.512 23.453 16.512 14.039 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.105 0 12.461 1.954 13.842 8.091.118.577.645.991 1.24.991h5.754c.354 0 .692-.143.94-.396.24-.272.367-.613.335-.979-.891-10.568-7.912-15.493-22.112-15.493-12.631 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.955-3.978 7.066-13.309 7.066z"
							></path>
						</svg>
					</Technology>
					<h3 class="-mb-2 text-base font-bold">Machine Learning</h3>
					<Technology name="PyTorch" use="Local Models">
						<svg viewBox="0 0 128 128">
							<path
								fill="#EE4C2C"
								d="M100.1 38.3l-9.2 9.2c15.1 15.1 15.1 39.4 0 54.3-15.1 15.1-39.4 15.1-54.3 0-15.1-15.1-15.1-39.4 0-54.3l24-24 3.4-3.4V2L27.8 38.2C7.7 58.3 7.7 90.8 27.8 111s52.6 20.1 72.4 0c20.1-20.2 20.1-52.5-.1-72.7z"
							></path><circle
								fill="#EE4C2C"
								transform="rotate(-88.939 82.069 29.398) scale(.99997)"
								cx="82.1"
								cy="29.4"
								r="6.7"></circle>
						</svg>
					</Technology>
					<Technology name="FastAPI" use="Inference">
						<svg viewBox="0 0 128 128">
							<path
								d="M56.813 127.586c-1.903-.227-3.899-.52-4.434-.652a48.078 48.078 0 00-2.375-.5 36.042 36.042 0 01-2.703-.633c-4.145-1.188-4.442-1.285-7.567-2.563-2.875-1.172-8.172-3.91-9.984-5.156-.496-.344-.96-.621-1.031-.621-.07 0-1.23-.816-2.578-1.813-8.57-6.343-15.004-14.043-19.653-23.527-.8-1.629-1.453-3.074-1.453-3.21 0-.134-.144-.505-.32-.817-.363-.649-.88-2.047-1.297-3.492a20.047 20.047 0 00-.625-1.813c-.195-.46-.352-1.02-.352-1.246 0-.227-.195-.965-.433-1.645-.238-.675-.43-1.472-.43-1.77 0-.296-.187-1.32-.418-2.276C.598 73.492 0 67.379 0 63.953c0-3.422.598-9.535 1.16-11.894.23-.957.418-2 .418-2.32 0-.321.145-.95.32-1.4.18-.448.41-1.253.516-1.788.11-.535.36-1.457.563-2.055l.59-1.726c.433-1.293.835-2.387 1.027-2.813.11-.238.539-1.21.957-2.16.676-1.535 2.125-4.43 2.972-5.945.309-.555.426-.739 2.098-3.352 2.649-4.148 7.176-9.309 11.39-12.988 1.485-1.297 6.446-5.063 6.669-5.063.062 0 .53-.281 1.043-.625 1.347-.902 2.668-1.668 4.39-2.531a53.06 53.06 0 001.836-.953c.285-.164.82-.41 3.567-1.64.605-.27 1.257-.516 3.136-1.173.414-.144 1.246-.449 1.84-.672.598-.222 1.301-.406 1.563-.406.258 0 .937-.18 1.508-.402.57-.223 1.605-.477 2.304-.563.696-.082 1.621-.277 2.055-.43.43-.148 1.61-.34 2.621-.425a72.572 72.572 0 003.941-.465c2.688-.394 8.532-.394 11.192 0a75.02 75.02 0 003.781.445c.953.079 2.168.278 2.703.442.535.16 1.461.36 2.055.433.594.079 1.594.325 2.222.551.63.23 1.344.414 1.59.414s.754.137 1.125.309c.375.168 1.168.449 1.766.625.594.18 1.613.535 2.27.797.652.261 1.527.605 1.945.761.77.29 6.46 3.137 7.234 3.622 6.281 3.917 9.512 6.476 13.856 10.964 5.238 5.414 8.715 10.57 12.254 18.16.25.536.632 1.329.851 1.758.215.434.395.942.395 1.13 0 .19.18.76.402 1.269.602 1.383 1.117 2.957 1.36 4.16.12.59.343 1.32.495 1.621.153.3.332 1.063.403 1.688.07.624.277 1.648.453 2.269 1.02 3.531 1.527 13.934.91 18.535-.183 1.367-.39 3.02-.46 3.672-.118 1.117-.708 4.004-1.212 5.945l-.52 2.055c-.98 3.957-3.402 9.594-6.359 14.809-1.172 2.07-5.101 7.668-5.843 8.324-.067.058-.399.45-.735.863-.336.418-1.414 1.586-2.39 2.594-4.301 4.441-7.77 7.187-13.86 10.969-.722.449-6.847 3.441-7.992 3.906-.594.238-1.586.64-2.203.89-.613.247-1.297.454-1.512.458-.215.003-.781.195-1.258.425-.476.23-1.082.422-1.351.426-.266.004-1.043.192-1.727.418-.683.23-1.633.477-2.11.55-.476.075-1.495.278-2.269.45-.773.172-3.11.508-5.187.746a59.06 59.06 0 01-13.945-.031zm4.703-12.5c.3-.234.609-.7.691-1.027.18-.723 29.234-58.97 29.781-59.7.461-.617.504-1.605.082-1.953-.222-.187-3.004-.246-10.43-.234-5.57.012-10.253.016-10.406.012-.226-.008-.273-3.73-.25-19.672.016-10.817-.035-19.766-.113-19.89-.078-.126-.383-.227-.68-.227-.418 0-.613.18-.87.808-.485 1.168-1.825 3.82-8.348 16.485a3554.569 3554.569 0 00-4.055 7.89c-1.156 2.262-2.98 5.813-4.047 7.89a8751.248 8751.248 0 00-8.598 16.759c-4.933 9.636-5.53 10.785-5.742 11.039-.41.496-.633 1.64-.402 2.07.21.394.629.41 11.043.394 5.953-.007 10.863.024 10.914.07.137.141.086 37.31-.055 38.196-.093.582-.031.89.235 1.156.46.461.586.457 1.25-.066zm0 0"
								fill="#049688"></path>
						</svg>
					</Technology>
					<h3 class="-mb-2 text-base font-bold">DevOps</h3>
					<Technology name="Docker" use="Containerization">
						<svg viewBox="0 0 128 128">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#3A4D54"
								d="M73.8 50.8h11.3v11.5h5.7c2.6 0 5.3-.5 7.8-1.3 1.2-.4 2.6-1 3.8-1.7-1.6-2.1-2.4-4.7-2.6-7.3-.3-3.5.4-8.1 2.8-10.8l1.2-1.4 1.4 1.1c3.6 2.9 6.5 6.8 7.1 11.4 4.3-1.3 9.3-1 13.1 1.2l1.5.9-.8 1.6c-3.2 6.2-9.9 8.2-16.4 7.8-9.8 24.3-31 35.8-56.8 35.8-13.3 0-25.5-5-32.5-16.8l-.1-.2-1-2.1c-2.4-5.2-3.1-10.9-2.6-16.6l.2-1.7h9.6V50.8h11.3V39.6h22.5V28.3h13.5v22.5z"
							></path><path
								fill="#00AADA"
								d="M110.4 55.1c.8-5.9-3.6-10.5-6.4-12.7-3.1 3.6-3.6 13.2 1.3 17.2-2.8 2.4-8.5 4.7-14.5 4.7H18.6c-.6 6.2.5 11.9 3 16.8l.8 1.5c.5.9 1.1 1.7 1.7 2.6 3 .2 5.7.3 8.2.2 4.9-.1 8.9-.7 12-1.7.5-.2.9.1 1.1.5.2.5-.1.9-.5 1.1-.4.1-.8.3-1.3.4-2.4.7-5 1.1-8.3 1.3h-.6c-1.3.1-2.7.1-4.2.1-1.6 0-3.1 0-4.9-.1 6 6.8 15.4 10.8 27.2 10.8 25 0 46.2-11.1 55.5-35.9 6.7.7 13.1-1 16-6.7-4.5-2.7-10.5-1.8-13.9-.1z"
							></path><path
								fill="#28B8EB"
								d="M110.4 55.1c.8-5.9-3.6-10.5-6.4-12.7-3.1 3.6-3.6 13.2 1.3 17.2-2.8 2.4-8.5 4.7-14.5 4.7h-68c-.3 9.5 3.2 16.7 9.5 21 4.9-.1 8.9-.7 12-1.7.5-.2.9.1 1.1.5.2.5-.1.9-.5 1.1-.4.1-.8.3-1.3.4-2.4.7-5.2 1.2-8.5 1.4l-.1-.1c8.5 4.4 20.8 4.3 35-1.1 15.8-6.1 30.6-17.7 40.9-30.9-.2.1-.4.1-.5.2z"
							></path><path
								fill="#028BB8"
								d="M18.7 71.8c.4 3.3 1.4 6.4 2.9 9.3l.8 1.5c.5.9 1.1 1.7 1.7 2.6 3 .2 5.7.3 8.2.2 4.9-.1 8.9-.7 12-1.7.5-.2.9.1 1.1.5.2.5-.1.9-.5 1.1-.4.1-.8.3-1.3.4-2.4.7-5.2 1.2-8.5 1.4h-.4c-1.3.1-2.7.1-4.1.1-1.6 0-3.2 0-4.9-.1 6 6.8 15.5 10.8 27.3 10.8 21.4 0 40-8.1 50.8-26H18.7v-.1z"
							></path><path
								fill="#019BC6"
								d="M23.5 71.8c1.3 5.8 4.3 10.4 8.8 13.5 4.9-.1 8.9-.7 12-1.7.5-.2.9.1 1.1.5.2.5-.1.9-.5 1.1-.4.1-.8.3-1.3.4-2.4.7-5.2 1.2-8.6 1.4 8.5 4.4 20.8 4.3 34.9-1.1 8.5-3.3 16.8-8.2 24.2-14.1H23.5z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#00ACD3"
								d="M28.4 52.7h9.8v9.8h-9.8v-9.8zm.8.8h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm3-12h9.8v9.8h-9.8v-9.8zm.9.8h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#23C2EE"
								d="M39.6 52.7h9.8v9.8h-9.8v-9.8zm.9.8h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#00ACD3"
								d="M50.9 52.7h9.8v9.8h-9.8v-9.8zm.8.8h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#23C2EE"
								d="M50.9 41.5h9.8v9.8h-9.8v-9.8zm.8.8h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm3.1 10.4H72v9.8h-9.8v-9.8zm.8.8h.8v8.1H63v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#00ACD3"
								d="M62.2 41.5H72v9.8h-9.8v-9.8zm.8.8h.8v8.1H63v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#23C2EE"
								d="M62.2 30.2H72V40h-9.8v-9.8zm.8.8h.8v8.1H63V31zm1.5 0h.8v8.1h-.8V31zm1.4 0h.8v8.1h-.8V31zm1.5 0h.8v8.1h-.8V31zm1.5 0h.8v8.1h-.8V31zm1.5 0h.8v8.1h-.8V31z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#00ACD3"
								d="M73.5 52.7h9.8v9.8h-9.8v-9.8zm.8.8h.8v8.1h-.8v-8.1zm1.4 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1zm1.5 0h.8v8.1h-.8v-8.1z"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#D4EEF1"
								d="M48.8 78.3c1.5 0 2.7 1.2 2.7 2.7 0 1.5-1.2 2.7-2.7 2.7-1.5 0-2.7-1.2-2.7-2.7 0-1.5 1.2-2.7 2.7-2.7"
							></path><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								fill="#3A4D54"
								d="M48.8 79.1c.2 0 .5 0 .7.1-.2.1-.4.4-.4.7 0 .4.4.8.8.8.3 0 .6-.2.7-.4.1.2.1.5.1.7 0 1.1-.9 1.9-1.9 1.9-1.1 0-1.9-.9-1.9-1.9 0-1 .8-1.9 1.9-1.9M1.1 72.8h125.4c-2.7-.7-8.6-1.6-7.7-5.2-5 5.7-16.9 4-20 1.2-3.4 4.9-23 3-24.3-.8-4.2 5-17.3 5-21.5 0-1.4 3.8-21 5.7-24.3.8-3 2.8-15 4.5-20-1.2 1.1 3.5-4.9 4.5-7.6 5.2"
							></path><path
								fill="#BFDBE0"
								d="M56 97.8c-6.7-3.2-10.3-7.5-12.4-12.2-2.5.7-5.5 1.2-8.9 1.4-1.3.1-2.7.1-4.1.1-1.7 0-3.4 0-5.2-.1 6 6 13.6 10.7 27.5 10.8H56z"
							></path><path
								fill="#D4EEF1"
								d="M46.1 89.9c-.9-1.3-1.8-2.8-2.5-4.3-2.5.7-5.5 1.2-8.9 1.4 2.3 1.2 5.7 2.4 11.4 2.9z"
							></path>
						</svg>
					</Technology>
					<h3 class="-mb-2 text-base font-bold">Database</h3>
					<Technology name="PostgreSQL" use="Vector Store / Relational Database">
						<svg viewBox="0 0 128 128">
							<path
								d="M93.809 92.112c.785-6.533.55-7.492 5.416-6.433l1.235.108c3.742.17 8.637-.602 11.513-1.938 6.191-2.873 9.861-7.668 3.758-6.409-13.924 2.873-14.881-1.842-14.881-1.842 14.703-21.815 20.849-49.508 15.543-56.287-14.47-18.489-39.517-9.746-39.936-9.52l-.134.025c-2.751-.571-5.83-.912-9.289-.968-6.301-.104-11.082 1.652-14.709 4.402 0 0-44.683-18.409-42.604 23.151.442 8.841 12.672 66.898 27.26 49.362 5.332-6.412 10.484-11.834 10.484-11.834 2.558 1.699 5.622 2.567 8.834 2.255l.249-.212c-.078.796-.044 1.575.099 2.497-3.757 4.199-2.653 4.936-10.166 6.482-7.602 1.566-3.136 4.355-.221 5.084 3.535.884 11.712 2.136 17.238-5.598l-.22.882c1.474 1.18 1.375 8.477 1.583 13.69.209 5.214.558 10.079 1.621 12.948 1.063 2.868 2.317 10.256 12.191 8.14 8.252-1.764 14.561-4.309 15.136-27.985"
							></path><path
								d="M75.458 125.256c-4.367 0-7.211-1.689-8.938-3.32-2.607-2.46-3.641-5.629-4.259-7.522l-.267-.79c-1.244-3.358-1.666-8.193-1.916-14.419-.038-.935-.064-1.898-.093-2.919-.021-.747-.047-1.684-.085-2.664a18.8 18.8 0 01-4.962 1.568c-3.079.526-6.389.356-9.84-.507-2.435-.609-4.965-1.871-6.407-3.82-4.203 3.681-8.212 3.182-10.396 2.453-3.853-1.285-7.301-4.896-10.542-11.037-2.309-4.375-4.542-10.075-6.638-16.943-3.65-11.96-5.969-24.557-6.175-28.693C4.292 23.698 7.777 14.44 15.296 9.129 27.157.751 45.128 5.678 51.68 7.915c4.402-2.653 9.581-3.944 15.433-3.851 3.143.051 6.136.327 8.916.823 2.9-.912 8.628-2.221 15.185-2.139 12.081.144 22.092 4.852 28.949 13.615 4.894 6.252 2.474 19.381.597 26.651-2.642 10.226-7.271 21.102-12.957 30.57 1.544.011 3.781-.174 6.961-.831 6.274-1.295 8.109 2.069 8.607 3.575 1.995 6.042-6.677 10.608-9.382 11.864-3.466 1.609-9.117 2.589-13.745 2.377l-.202-.013-1.216-.107-.12 1.014-.116.991c-.311 11.999-2.025 19.598-5.552 24.619-3.697 5.264-8.835 6.739-13.361 7.709-1.544.33-2.947.474-4.219.474zm-9.19-43.671c2.819 2.256 3.066 6.501 3.287 14.434.028.99.054 1.927.089 2.802.106 2.65.355 8.855 1.327 11.477.137.371.26.747.39 1.146 1.083 3.316 1.626 4.979 6.309 3.978 3.931-.843 5.952-1.599 7.534-3.851 2.299-3.274 3.585-9.86 3.821-19.575l4.783.116-4.75-.57.14-1.186c.455-3.91.783-6.734 3.396-8.602 2.097-1.498 4.486-1.353 6.389-1.01-2.091-1.58-2.669-3.433-2.823-4.193l-.399-1.965 1.121-1.663c6.457-9.58 11.781-21.354 14.609-32.304 2.906-11.251 2.02-17.226 1.134-18.356-11.729-14.987-32.068-8.799-34.192-8.097l-.359.194-1.8.335-.922-.191c-2.542-.528-5.366-.82-8.393-.869-4.756-.08-8.593 1.044-11.739 3.431l-2.183 1.655-2.533-1.043c-5.412-2.213-21.308-6.662-29.696-.721-4.656 3.298-6.777 9.76-6.305 19.207.156 3.119 2.275 14.926 5.771 26.377 4.831 15.825 9.221 21.082 11.054 21.693.32.108 1.15-.537 1.976-1.529a270.708 270.708 0 0110.694-12.07l2.77-2.915 3.349 2.225c1.35.897 2.839 1.406 4.368 1.502l7.987-6.812-1.157 11.808c-.026.265-.039.626.065 1.296l.348 2.238-1.51 1.688-.174.196 4.388 2.025 1.836-2.301z"
							></path><path
								fill="#336791"
								d="M115.731 77.44c-13.925 2.873-14.882-1.842-14.882-1.842 14.703-21.816 20.849-49.51 15.545-56.287C101.924.823 76.875 9.566 76.457 9.793l-.135.024c-2.751-.571-5.83-.911-9.291-.967-6.301-.103-11.08 1.652-14.707 4.402 0 0-44.684-18.408-42.606 23.151.442 8.842 12.672 66.899 27.26 49.363 5.332-6.412 10.483-11.834 10.483-11.834 2.559 1.699 5.622 2.567 8.833 2.255l.25-.212c-.078.796-.042 1.575.1 2.497-3.758 4.199-2.654 4.936-10.167 6.482-7.602 1.566-3.136 4.355-.22 5.084 3.534.884 11.712 2.136 17.237-5.598l-.221.882c1.473 1.18 2.507 7.672 2.334 13.557-.174 5.885-.29 9.926.871 13.082 1.16 3.156 2.316 10.256 12.192 8.14 8.252-1.768 12.528-6.351 13.124-13.995.422-5.435 1.377-4.631 1.438-9.49l.767-2.3c.884-7.367.14-9.743 5.225-8.638l1.235.108c3.742.17 8.639-.602 11.514-1.938 6.19-2.871 9.861-7.667 3.758-6.408z"
							></path><path
								fill="#fff"
								d="M75.957 122.307c-8.232 0-10.84-6.519-11.907-9.185-1.562-3.907-1.899-19.069-1.551-31.503a1.59 1.59 0 011.64-1.55 1.594 1.594 0 011.55 1.639c-.401 14.341.168 27.337 1.324 30.229 1.804 4.509 4.54 8.453 12.275 6.796 7.343-1.575 10.093-4.359 11.318-11.46.94-5.449 2.799-20.951 3.028-24.01a1.593 1.593 0 011.71-1.472 1.597 1.597 0 011.472 1.71c-.239 3.185-2.089 18.657-3.065 24.315-1.446 8.387-5.185 12.191-13.794 14.037-1.463.313-2.792.453-4 .454zM31.321 90.466a6.71 6.71 0 01-2.116-.35c-5.347-1.784-10.44-10.492-15.138-25.885-3.576-11.717-5.842-23.947-6.041-27.922-.589-11.784 2.445-20.121 9.02-24.778 13.007-9.216 34.888-.44 35.813-.062a1.596 1.596 0 01-1.207 2.955c-.211-.086-21.193-8.492-32.768-.285-5.622 3.986-8.203 11.392-7.672 22.011.167 3.349 2.284 15.285 5.906 27.149 4.194 13.742 8.967 22.413 13.096 23.79.648.216 2.62.873 5.439-2.517A245.272 245.272 0 0145.88 73.046a1.596 1.596 0 012.304 2.208c-.048.05-4.847 5.067-10.077 11.359-2.477 2.979-4.851 3.853-6.786 3.853zm69.429-13.445a1.596 1.596 0 01-1.322-2.487c14.863-22.055 20.08-48.704 15.612-54.414-5.624-7.186-13.565-10.939-23.604-11.156-7.433-.16-13.341 1.738-14.307 2.069l-.243.099c-.971.305-1.716-.227-1.997-.849a1.6 1.6 0 01.631-2.025c.046-.027.192-.089.429-.176l-.021.006.021-.007c1.641-.601 7.639-2.4 15.068-2.315 11.108.118 20.284 4.401 26.534 12.388 2.957 3.779 2.964 12.485.019 23.887-3.002 11.625-8.651 24.118-15.497 34.277-.306.457-.81.703-1.323.703zm.76 10.21c-2.538 0-4.813-.358-6.175-1.174-1.4-.839-1.667-1.979-1.702-2.584-.382-6.71 3.32-7.878 5.208-8.411-.263-.398-.637-.866-1.024-1.349-1.101-1.376-2.609-3.26-3.771-6.078-.182-.44-.752-1.463-1.412-2.648-3.579-6.418-11.026-19.773-6.242-26.612 2.214-3.165 6.623-4.411 13.119-3.716C97.6 28.837 88.5 10.625 66.907 10.271c-6.494-.108-11.82 1.889-15.822 5.93-8.96 9.049-8.636 25.422-8.631 25.586a1.595 1.595 0 11-3.19.084c-.02-.727-.354-17.909 9.554-27.916C53.455 9.272 59.559 6.96 66.96 7.081c13.814.227 22.706 7.25 27.732 13.101 5.479 6.377 8.165 13.411 8.386 15.759.165 1.746-1.088 2.095-1.341 2.147l-.576.013c-6.375-1.021-10.465-.312-12.156 2.104-3.639 5.201 3.406 17.834 6.414 23.229.768 1.376 1.322 2.371 1.576 2.985.988 2.396 2.277 4.006 3.312 5.3.911 1.138 1.7 2.125 1.982 3.283.131.23 1.99 2.98 13.021.703 2.765-.57 4.423-.083 4.93 1.45.997 3.015-4.597 6.532-7.694 7.97-2.775 1.29-7.204 2.106-11.036 2.106zm-4.696-4.021c.35.353 2.101.962 5.727.806 3.224-.138 6.624-.839 8.664-1.786 2.609-1.212 4.351-2.567 5.253-3.492l-.5.092c-7.053 1.456-12.042 1.262-14.828-.577a6.162 6.162 0 01-.54-.401c-.302.119-.581.197-.78.253-1.58.443-3.214.902-2.996 5.105zm-45.562 8.915c-1.752 0-3.596-.239-5.479-.71-1.951-.488-5.24-1.957-5.19-4.37.057-2.707 3.994-3.519 5.476-3.824 5.354-1.103 5.703-1.545 7.376-3.67.488-.619 1.095-1.39 1.923-2.314 1.229-1.376 2.572-2.073 3.992-2.073.989 0 1.8.335 2.336.558 1.708.708 3.133 2.42 3.719 4.467.529 1.847.276 3.625-.71 5.006-3.237 4.533-7.886 6.93-13.443 6.93zm-7.222-4.943c.481.372 1.445.869 2.518 1.137 1.631.408 3.213.615 4.705.615 4.546 0 8.196-1.882 10.847-5.594.553-.774.387-1.757.239-2.274-.31-1.083-1.08-2.068-1.873-2.397-.43-.178-.787-.314-1.115-.314-.176 0-.712 0-1.614 1.009a41.146 41.146 0 00-1.794 2.162c-2.084 2.646-3.039 3.544-9.239 4.821-1.513.31-2.289.626-2.674.835zm12.269-7.36a1.596 1.596 0 01-1.575-1.354 8.218 8.218 0 01-.08-.799c-4.064-.076-7.985-1.82-10.962-4.926-3.764-3.927-5.477-9.368-4.699-14.927.845-6.037.529-11.366.359-14.229-.047-.796-.081-1.371-.079-1.769.003-.505.013-1.844 4.489-4.113 1.592-.807 4.784-2.215 8.271-2.576 5.777-.597 9.585 1.976 10.725 7.246 3.077 14.228.244 20.521-1.825 25.117-.385.856-.749 1.664-1.04 2.447l-.257.69c-1.093 2.931-2.038 5.463-1.748 7.354a1.595 1.595 0 01-1.335 1.819l-.244.02zM42.464 42.26l.062 1.139c.176 2.974.504 8.508-.384 14.86-.641 4.585.759 9.06 3.843 12.276 2.437 2.542 5.644 3.945 8.94 3.945h.068c.369-1.555.982-3.197 1.642-4.966l.255-.686c.329-.884.714-1.74 1.122-2.646 1.991-4.424 4.47-9.931 1.615-23.132-.565-2.615-1.936-4.128-4.189-4.627-4.628-1.022-11.525 2.459-12.974 3.837zm9.63-.677c-.08.564 1.033 2.07 2.485 2.271 1.449.203 2.689-.975 2.768-1.539.079-.564-1.033-1.186-2.485-1.388-1.451-.202-2.691.092-2.768.656zm2.818 2.826l-.407-.028c-.9-.125-1.81-.692-2.433-1.518-.219-.29-.576-.852-.505-1.354.101-.736.999-1.177 2.4-1.177.313 0 .639.023.967.069.766.106 1.477.327 2.002.62.91.508.977 1.075.936 1.368-.112.813-1.405 2.02-2.96 2.02zm-2.289-2.732c.045.348.907 1.496 2.029 1.651l.261.018c1.036 0 1.81-.815 1.901-1.082-.096-.182-.762-.634-2.025-.81a5.823 5.823 0 00-.821-.059c-.812 0-1.243.183-1.345.282zm43.605-1.245c.079.564-1.033 2.07-2.484 2.272-1.45.202-2.691-.975-2.771-1.539-.076-.564 1.036-1.187 2.486-1.388 1.45-.203 2.689.092 2.769.655zm-2.819 2.56c-1.396 0-2.601-1.086-2.7-1.791-.115-.846 1.278-1.489 2.712-1.688.316-.044.629-.066.93-.066 1.238 0 2.058.363 2.14.949.053.379-.238.964-.739 1.492-.331.347-1.026.948-1.973 1.079l-.37.025zm.943-3.013c-.276 0-.564.021-.856.061-1.441.201-2.301.779-2.259 1.089.048.341.968 1.332 2.173 1.332l.297-.021c.787-.109 1.378-.623 1.66-.919.443-.465.619-.903.598-1.052-.028-.198-.56-.49-1.613-.49zm3.965 32.843a1.594 1.594 0 01-1.324-2.483c3.398-5.075 2.776-10.25 2.175-15.255-.257-2.132-.521-4.337-.453-6.453.07-2.177.347-3.973.614-5.71.317-2.058.617-4.002.493-6.31a1.595 1.595 0 113.186-.172c.142 2.638-.197 4.838-.525 6.967-.253 1.643-.515 3.342-.578 5.327-.061 1.874.178 3.864.431 5.97.64 5.322 1.365 11.354-2.691 17.411a1.596 1.596 0 01-1.328.708z"
							></path>
						</svg>
					</Technology>
				</div>
			</Card>
		</div>
	</Section>
</Layout>
