---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import Button from '../components/Button.astro'
import ThemeToggle from '../components/ThemeToggle.tsx'

// Customized Cards
import Experience from '../components/cards/Experience.astro'
import Music from '../components/cards/Music.astro'
import TexasEx from '../components/cards/TexasEx.astro'
import Stats from '../components/cards/Stats.astro'
import Map from '../components/cards/Map.astro'
import Stack from '../components/cards/Stack.astro'
import Socials from '../components/cards/Socials.astro'
---

<Layout title="Joseph Risk" navText="index">
	<Hero />
	<Section title="Latest Projects" href="/projects">
		<Card className="h-60 border-sky-400 bg-white/80 p-0 dark:border-sky-400">
			<div class="flex bg-sky-400/25 px-4 pt-4">
				<div class="flex flex-1 flex-col gap-2 py-8 pl-8 text-sky-900">
					<h3 class="text-2xl font-bold">Dossi AI</h3>
					<p class="">Next.js RAG application</p>
					<Button
						className="border border-sky-600 bg-sky-500 text-base font-semibold text-white dark:bg-sky-500"
						href="/projects/dossi-ai"
					>
						More Info
					</Button>
				</div>
				<div
					class="flex h-full flex-1 rotate-3 flex-col items-start justify-start rounded-t-xl pr-8 pt-8"
				>
					<img src="/localhost_3000_landing(FHD 4_3).png" alt="Dossi AI" class="rounded-t-lg" />
				</div>
			</div>
		</Card>
		<Card className="h-60 border-amber-400 bg-white/80 p-0 dark:border-amber-400">
			<div class="flex bg-amber-400/25 px-4 pt-4">
				<div class="flex flex-1 flex-col gap-2 py-8 pl-8 text-amber-900">
					<h3 class="text-2xl font-bold">Cellularr</h3>
					<p class="">Media management PWA for iOS</p>
					<Button
						className="h-8 border border-amber-600 bg-amber-500 text-base font-semibold text-white dark:bg-amber-500"
						href="/projects/cellularr"
					>
						More Info
					</Button>
				</div>
				<div class="flex h-full flex-1 flex-col items-start justify-start rounded-t-xl pr-8 pt-8">
					<img src="/localhost_3000_landing(FHD 4_3).png" alt="Dossi AI" class="rounded-t-lg" />
				</div>
			</div>
		</Card>
	</Section>
	<Section title="About Me">
		<div class="grid grid-cols-3 gap-4">
			<TexasEx />
			<Stats />
			<Map />
		</div>
		<div class="flex gap-4">
			<div class="flex w-[58%] flex-col gap-4">
				<Experience />
				<Music />
				<Socials />
			</div>
			<Stack />
		</div>
	</Section>
</Layout>
