---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Button from '../components/Button.astro'

import Nav from '../components/Nav.astro'
import Project from '../components/Project.astro'

import { getCollection } from 'astro:content'

const projects = await getCollection('projects', ({ data }) => {
	return data.hidden !== true
})
---

<Layout title="Projects">
	<Nav title="projects" />

	<Button href="/" className="border-0 shadow-none" text="â† Back" />

	<Section title="Latest Projects">
		<div class="grid grid-cols-2 gap-4">
			{
				projects
					.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
					.map((project) => <Project project={project} />)
			}
		</div>
	</Section>
</Layout>
