---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Button from '../components/Button.astro'

import Nav from '../components/Nav.astro'
import Project from '../components/Project.astro'

import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="Projects">
	<Nav title="projects" />
	<div class="flex h-8 w-fit flex-col">
		<Button href="/" text="â† Back Home" />
	</div>

	<Section title="Some Stuff I've Worked On">
		<div class="grid grid-cols-3 gap-4">
			{
				projects.map((project) => (
					<Project
						href={'/projects/' + project.slug}
						name={project.data.name}
						image={project.data.image}
						tags={project.data.tags}
					/>
				))
			}
		</div>
	</Section>
</Layout>
