---
import { twMerge } from 'tailwind-merge'

interface Props {
	text?: string
	href: string
	className?: string
}

const { href, text, className } = Astro.props
---

<button
	class={twMerge(
		'shadow-inner-button h-8 text-neutral-500 border-neutral-300 border bg-neutral-200 flex w-fit px-4 items-center justify-center overflow-hidden rounded-lg text-xs font-bold',
		className
	)}
>
	<a href={href} class="flex w-full items-center justify-center gap-1">
		<slot />
		{text && <h2 class="">{text}</h2>}
	</a>
</button>
