---
interface Props {
	title?: string
	href?: string
	class?: string
}

const { title, href } = Astro.props
---

<div
	class:list={[
		'w-full overflow-hidden rounded-2xl border border-zinc-800 text-white shadow-sm',
		Astro.props.class
	]}
>
	{title && <h3 class="mb-4 text-base font-bold">{title}</h3>}
	<slot />
</div>
