---
import { twMerge } from 'tailwind-merge'

interface Props {
	className?: string
}

const { className } = Astro.props
---

<div
	class={twMerge(
		'flex h-full w-full flex-col gap-4 rounded-t-xl bg-neutral-50 p-2 shadow-inner dark:bg-neutral-950',
		className
	)}
>
	<slot />
</div>
