---
import { twMerge } from 'tailwind-merge'

interface Props {
	title?: string
	href?: string
	className?: string
}

const { title, href, className } = Astro.props
---

<div
	class={twMerge(
		'relative border-1 items-stretch p-4 h-full w-full overflow-hidden rounded-2xl border border-neutral-300 dark:border-zinc-800 shadow',
		className
	)}
>
	{title && <h3 class="pb-4 pl-2 text-sm font-semibold">{title}</h3>}
	<slot />
</div>
