<div class="flex h-36 rounded border border-black/20 bg-neutral-700/60 shadow-inner-button">
	<div class="h-full w-4"></div>
	<div
		class="relative aspect-square overflow-hidden rounded-r bg-neutral-800 p-1 shadow-inner-button transition-all duration-300 ease-linear group-hover:p-1.5"
	>
		<img
			src="https://f4.bcbits.com/img/a3806639204_65"
			alt="cover"
			class="rounded-spin left-0 top-0 z-20 h-full w-full rounded-r-[3px] ring-neutral-100 group-hover:ring-2"
		/>
		<div
			class="absolute bottom-0 left-0 right-0 top-0 z-30 m-auto h-1/5 w-1/5 scale-0 rounded-full border-[1.5px] border-neutral-700 bg-rose-300 ring-[6px] ring-inset ring-neutral-100 transition-all duration-500 group-hover:scale-100"
		>
		</div>
	</div>
</div>
