---
import ThemeToggle from './ThemeToggle.tsx'
---

<footer class="flex w-full justify-between text-neutral-300 dark:text-neutral-700">
	<p class="text-sm font-semibold opacity-0">Thanks for visiting!</p>
	<ThemeToggle client:only="react" />
</footer>
