---
import ThemeToggle from './ThemeToggle.tsx'
---

<footer class="flex w-full justify-between text-neutral-300 dark:text-neutral-700">
	<ThemeToggle client:only="react" />
	<p class="text-sm font-semibold">thanks for visiting!</p>
</footer>
