---
import { Image } from 'astro:assets'
import githubprofile from '../assets/githubprofile.png'
---

<div class="flex w-full flex-col items-center gap-4 py-20">
	<div class="rotate-1 overflow-hidden rounded bg-white p-2 pb-0 shadow">
		<Image src={githubprofile} alt="Hero" class="h-40 w-40 rounded object-cover" />
		<p class="font-marker py-1 text-center text-2xl text-black">Joseph Risk</p>
	</div>
	<p class="text-center md:px-20">
		Aspiring software developer on a journey to combine my passion for business and technology.
		Currently focused on exploring practical applications of Large Language Models and honing my web
		development skills.
	</p>
</div>
