---

---

<div class="flex w-full flex-col items-center py-20">
	<div class="h-20 w-20 overflow-hidden rounded-2xl bg-gray-700">
		<img src="/18372584 (1).png" alt="Hero" class="w-full" />
	</div>
	<h1 class="py-4 text-center text-2xl font-bold">Joseph Risk</h1>
	<p class="px-20 text-center">
		Currently interested in practical LLM applications and sharpening my web development skills.
	</p>
</div>
