---
import { Image } from 'astro:assets'

import Card from './Card.astro'
import CardInsert from './CardInsert.astro'
import Tag from './Tag.astro'

// somehow import type
const { project } = Astro.props
---

<a href={'/projects/' + project.slug} class="group flex flex-col items-center gap-2">
	<Card className="h-full p-0">
		<CardInsert>
			<div class="aspect-video overflow-hidden">
				<Image
					src={project.data.image}
					alt={project.data.name}
					class="h-full w-full rounded-[8px] object-cover object-top transition-all duration-300 ease-in-out group-hover:scale-95 group-hover:rounded-[6px]"
				/>
			</div>
		</CardInsert>
	</Card>

	<div class="flex w-full flex-col items-start justify-start gap-1">
		<div class="flex items-center gap-1">
			<p class="font-semibold">
				{project.data.name}
			</p>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 16 16"
				fill="currentColor"
				class="h-4 w-4 transition-all duration-300 ease-in-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5"
			>
				<path
					fill-rule="evenodd"
					d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z"
					clip-rule="evenodd"></path>
			</svg>
		</div>
		{
			project.data.tags && (
				<div class="flex flex-wrap gap-1">
					{project.data.tags.map((tag: any) => (
						<Tag text={tag} />
					))}
				</div>
			)
		}
	</div>
</a>
