---
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const projects = await getCollection('projects')
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project }
	}))
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props
const { Content } = await project.render()
---

<h1>{project.data.name}</h1>
<Content />
