---
import '@fontsource-variable/inter'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string
	navText: string
}

const { title, navText } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link href="https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global>
			@keyframes spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}

			.rounded-spin {
				transition: all 0.5s ease;
			}

			.group:hover .rounded-spin {
				animation: spin 5s linear infinite;
				border-radius: 50%;
			}
		</style>
	</head>
	<body
		class="m-auto flex min-h-screen max-w-[840px] flex-col items-center justify-between gap-8 bg-white px-4 py-4 text-black lg:py-8 dark:bg-black dark:text-white"
	>
		<Nav title={navText} />
		<main class="flex w-full flex-1 flex-col justify-start gap-8"><slot /></main>

		<Footer />
	</body>

	<script>
		if (
			sessionStorage.theme === 'dark' ||
			(!('theme' in sessionStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
		) {
			document.documentElement.classList.add('dark')
		} else {
			document.documentElement.classList.remove('dark')
		}
	</script>
</html>
